
<header>
    <script>
        $(document).ready(function () {
            // Handle OK button click
            $('#confirmDelete').on('click', function () {
                dataToPass = $('#confirmDelete').val();
                var stringArray = dataToPass.split(':');
                if (stringArray[0] == 'Title') { 
                    
                    var titleId = parseInt(stringArray[1], 10);
                    
                    var url = '/TitleModule/DeleteTitleModule?titleId=' + titleId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'LearningModule') {
                    var learingModuleId = parseInt(stringArray[1], 10);
                    var titleId = parseInt(stringArray[2], 10);
                    var url = '/LearningModule/DeleteLearningModule?learningModuleId=' + learingModuleId + '&TitleId='+titleId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'Term'){
                    var termId = parseInt(stringArray[1], 10);
                    var learningModuleId = parseInt(stringArray[2], 10);
                    var url = '/Term/DeleteTerm?termId=' + termId + '&learningModuleId=' + learningModuleId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'YourOwnClass') {
                    var classId = parseInt(stringArray[1], 10);
                    var url = '/Class/DeleteClass?classId=' + classId;
                    window.location.href = url;
                }
                if (stringArray[0] == 'DetailOwnClass'){
                    var learningModuleId = parseInt(stringArray[1], 10);
                    var classId = parseInt(stringArray[2], 10);
                    var url = '/Class/DeleteModuleFromClass?classId=' + classId + '&learningModuleId=' + learningModuleId;
                    window.location.href = url;
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var dataToPass = "";
            $('.deleteButton').on('click', function () {
                dataToPass = $(this).val() 
                var yesDeleteButton = $(document).find('#confirmDelete')
                yesDeleteButton.val(dataToPass)
            });
        });
    </script>

</header>
<!-- Modal -->
<div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warningModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning" id="confirmDelete">OK</button>
            </div>
        </div>
    </div>
</div>