@{
    ViewData["Title"] = "Add Badge";
    Layout = null;
}
@using QuizletWebMvc.ViewModels.Admin;
@model Badge

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HeaderHome" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <partial name="Admin_Navigation" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <partial name="AdminTopNavbar" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Badge</h4>
                                    <p class="card-description"> @Model.TypeBadge </p>
                                    <form asp-action="AddBadge" method="post" class="forms-sample" enctype="multipart/form-data">
                                        <div class="form-group ">
                                            <label for="exampleInputEmail3">Badge name</label>
                                            <input asp-for="AchivementName" type="text" class="form-control" placeholder="####" value="@Model.AchivementName" maxlength="50">
                                            <span asp-validation-for="AchivementName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Image" type="file" id="image" name="imageFile" accept="image/*">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName1">Condition</label>
                                            <input asp-for="Condition" type="text" class="form-control" id="exampleInputName1" placeholder="####" value=@Model.Condition>
                                            <span asp-validation-for="Condition" class="text-danger"></span>
                                        </div>
                                        <div class="form-group hideDiv">
                                            <label for="exampleInputName1">AchivementId</label>
                                            <input asp-for="AchivementId" type="text" class="form-control" id="exampleInputName1" placeholder="####" value=@Model.AchivementId>
                                        </div>
                                        <div class="form-group hideDiv">
                                            <label for="exampleInputName1">TypeBadge</label>
                                            <input asp-for="TypeBadge" type="text" class="form-control" id="exampleInputName1" placeholder="####" value=@Model.TypeBadge>
                                        </div>
                                        <button type="submit" class="btn btn-success mr-2">Add</button>
                                        <a href="@Url.Action("Badge", "Admin")" class="btn btn-dark">Cancel</a>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <partial name="FooterHome" />
</body>
</html>
