@{
    ViewData["Title"] = "Edit Level Term";
    Layout = null;
}
@using QuizletWebMvc.ViewModels.Admin;
@model LevelTerm

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HeaderHome" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <partial name="Admin_Navigation" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <partial name="AdminTopNavbar" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Level Term</h4>
                                    <p class="card-description"> Edit Level Term </p>
                                    <form asp-action="EditLevelTerm" method="post" class="forms-sample">
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Level Name</label>
                                            <input asp-for="LevelName" type="text" class="form-control" placeholder="####" value="@Model.LevelName" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail3">Describe</label>
                                            <input asp-for="Describe" type="text" class="form-control" placeholder="####" value="@Model.Describe">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName1">Condition</label>
                                            <input asp-for="Condition" type="text" class="form-control" id="exampleInputName1" placeholder="####" value=@Model.Condition>
                                            <span asp-validation-for="Condition" class="text-danger"></span>
                                        </div>
                                        <div class="form-group hideDiv">
                                            <label for="exampleInputName1">LevelId</label>
                                            <input asp-for="LevelId" type="text" class="form-control" id="exampleInputName1" placeholder="####" value=@Model.LevelId>
                                        </div>
                                        <button type="submit" class="btn btn-success mr-2">Update</button>
                                        <a href="@Url.Action("LevelTerm", "Admin")" class="btn btn-dark">Cancel</a>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <partial name="FooterHome" />
</body>
</html>


