@using QuizletWebMvc.ViewModels.Achivement;
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@model UserAchivement;
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="HeaderHome" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.onload = function () {
            // Get a reference to the canvas element.
            var ctx = document.getElementById('barChart').getContext('2d');
            var modelData = @Html.Raw(Json.Serialize(Model));
            var levelNames = [];
            var numberTerms = [];
            for (var i = 0; i < modelData.levelTerms.length; i++) {
                var level = modelData.levelTerms[i];
                levelNames.push(level.levelName);
                numberTerms.push(parseInt(level.numberTermsInLevel, 10));
            }
           
            // Define your data for the chart.
            var data = {
                labels: levelNames,
                datasets: [{
                    label: 'Bar Chart Example',
                    data: numberTerms,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar fill color
                    borderColor: 'rgba(75, 192, 192, 1)', // Bar border color
                    borderWidth: 1, // Bar border width
                    barThickness: 50
                }]
            };

            // Create the bar chart.
            var barChart = new Chart(ctx, {
                type: 'bar', // Chart type (bar chart)
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },

                }
            });
        };
    </script>
    <script>
        var pageNumber = 0;
        var isLoading = false;
        var noMoreItems = false;

        function loadMoreContent() {
            if (!isLoading && !noMoreItems) {
                if (pageNumber == 0) { 
                    pageNumber++;
                    return;
                }
                isLoading = true;
                $("#loading").show();
                $.ajax({
                    url: '@Url.Action("LoadMoreAchivement", "Home")',
                    type: 'GET',
                    data: { pageNumber: pageNumber },
                    success: function (data) {
                        if (data) {
                            $("#contentContainer").append(data);
                            pageNumber++;
                            isLoading = false;
                            $("#loading").hide();
                        } else {
                            noMoreItems = true;
                            $("#loading").hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("AJAX request failed with status: " + status + " and error: " + error);
                        isLoading = false;
                        $("#loading").hide();
                    }
                });
            }
        }

        $(window).on('scroll', function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200) {
                loadMoreContent();
            }
        });

        // Load initial content
        loadMoreContent();
    </script>
    
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 5px;
        }

        .day {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
            position: relative;
            cursor: pointer;
        }

        .event-marker {
            background-color: #3498db;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }

        .month-year {
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
    
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <partial name="_Navigation"/>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <partial name="TopNavbar" />
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper" id="contentContainer">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Level terms</h4>
                                    <canvas id="barChart" width="400" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading" style="display: none;">Loading...</div>
                <!-- content-wrapper ends -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <partial name="FooterHome" />
</body>
</html>
