<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">badge</h4>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reprehenderit, placeat quae ipsam velit aut, harum omnis numquam rem minus aliquam dolore iste doloribus, veritatis eos. Iste consectetur nostrum aspernatur.</div>
            </div>
        </div>
    </div>
</div>