@using QuizletWebMvc.ViewModels.Terminology;
@using QuizletWebMvc.ViewModels.User;
@{
    Layout = null;
}
@model ListTitleViewModel;


<!DOCTYPE html>
<html lang="en">
<head>

    <partial name="HeaderHome" />
    <style>
        .card img {
            width: 100px; /* Adjust the width of the image as needed */
            height: auto; /* Maintain the aspect ratio */
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <partial name="_Navigation" />
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <partial name="TopNavbar" />
            
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row ">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Tiles</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th> Name </th>
                                                    <th> Describe </th>
                                                    <th> Functions </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Titles)
                                                {
                                                    <tr>
                                                        <td>
                                                            @if(item.IsEmpty)
                                                            {
                                                                <img src="https://firebasestorage.googleapis.com/v0/b/quizlet-c9cab.appspot.com/o/main%2FemptyFolder.png?alt=media&token=520ec8a1-65d9-49af-bfdd-1ef8c59fa441" alt="Card Image 1">
                                                            }
                                                            else
                                                            {
                                                                <img src="https://firebasestorage.googleapis.com/v0/b/quizlet-c9cab.appspot.com/o/main%2FfullFolder.png?alt=media&token=02a06fa3-576d-4ac8-8613-611a399f59d4" alt="Card Image 1">
                                                            }
                                                            
                                                        </td>
                                                        <td>
                                                            @item.TitleName
                                                        </td>
                                                        <td> @item.Describe </td>
                                                        <td>
                                                            <a href="@Url.Action("EditTitleModule", "TitleModule", new { titleId = item.TitleId })" class="btn btn-secondary">Edit</a>
                                                            <a href="@Url.Action("LearningModule", "LearningModule", new { titleId = item.TitleId, titleName = item.TitleName, describe = item.Describe })" class="btn btn-success">Modules</a>
                                                            <button class="btn btn-danger deleteButton" data-toggle="modal" data-target="#deleteWarningModal" value="Title:@item.TitleId.ToString()">Delete</button>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <partial name="FooterHome" />
    <partial name="Warnings" />
    
</body>
</html>

